* {
  font-family: 'Quicksand', sans-serif;
}

body {
  margin: 0px;
}

#container {
  min-height: calc(100vh - 100px);
}

#image-preview {
    border: 1px solid var(--bs-blue);
}

#predict {
    display: none;
}

#prediction {
    display: none;
    padding: 3%;
    color: var(--bs-primary);
}

#prediction-details {
    display: none;
    padding: 3%;
}
