{% extends "layout.html"%}
{%block title%}Data Science Jobs{%endblock%}
{%block content%}
    <div class="jumbotron text-center">
        <h1 class="display-3">ISIC Challenge</h1>
    </div>
    <div class="row">
        <div class="col-1">&nbsp;</div>
        <div class="col">
            <div class="row">
                <div class="col">
                    &nbsp;
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-6">
                            <ul>
                                <li><a href="#">some text here</a></li>
                            </ul>
                            <div class="row">
                                <div class="col-6">
                                    <h5>Resources:</h5>
                                    <ul class="list-group">
                                        <li class="list-group-item"><a href="https://github.com/molobit619/isic-challenge.git">Github</a></li>
                                        <li class="list-group-item"><a href="https://jquery.com/">jQuery</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1">&nbsp;</div>
    </div>
{%endblock%}

{%block js%}
    <!-- load jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script> 
        $(document).ready(function() {
        });
    </script>
{%endblock%}
