{% extends "layout.html"%}
{%block title%}Melanoma Detection{%endblock%}
{%block content%}
    <div class="jumbotron text-center">
        <h1 class="display-3">Skin Lesion Prediction: Benign or Malignant?</h1>
    </div>
    <div class="row">
        <div class="col-1">&nbsp;</div>
        <div class="col">
            <div class="row">
                <div class="col">
                    &nbsp;
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <form id="skin-lesion-data" action="/process-image" method="POST">
                            <div class="row" id="content-row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="row mx-auto">
                                        <div class="col">
                                            <div class="form-group">
                                                    <label for="skin-lesion-image">Upload your skin lesions:</label><br>
                                                    <input type="file" class="form-control-file" id="skin-lesion-image" name="skin-lesion-image">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="col" id="image-preview-container"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col">&nbsp;</div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="row">
                                        <div class="col">
                                            <input id="predict" class="btn btn-primary" type="submit" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-1">&nbsp;</div>
    </div>
{%endblock%}

{%block js%}
    <!-- load jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script> 
        $(document).ready(function() {

            $('#skin-lesion-image').on('change', (event) => {
                const fileObj = event.target.files[0];
                const reader = new FileReader();
                reader.onload = (event) => {
                    const img = new Image();
                    img.src = event.target.result;
                    img.setAttribute('style', 'width:300px;');

                    $('#image-preview-container').html(img);
                    /* show predict button*/
                    $('#predict').show();
                };
                reader.readAsDataURL(fileObj);

                console.log('fileObj: ', fileObj);
            });

            $('#predict').on('click', (event) => {
                event.preventDefault();
                $.post({
                    url: '/process-image',
                    data: $('#image-preview-container img').attr('src'),
                });
            });
        });
    </script>
{%endblock%}
